.project
.metadata
tmp/**
tmp/**/*
*.bak
*.tmp
*.swp
.classpath
.settings/
.loadpath
.launch
.cproject
.buildpath
.idea

TAGS
tags

.DS_Store?
.DS_Store
.Trashes

.*.sw[a-z]
*.un~
Session.vim
.vim/tags/*

.vagrant

composer.phar
composer.lock
/vendor/
